@page
@model RestaurantUI.Pages.Admin.Categories.EditModel
@{
    ViewBag.groupePage = "Adminitration";
    ViewBag.title = "Edit category";
}

<div class="card border-danger">
    <div class="card-header">
        Edit Category
    </div>
    <div class="card-body">
        <form asp-action="Post">
            <input type="hidden" asp-for="Categ.Id" />
            <div asp-validation-summary="All" class="mt-2 mb-2 text-danger"></div>
            <div class="mb-3">
                <label class="form-label" asp-for="Categ.Name">@Html.DisplayNameFor(m=>m.Categ.Name)</label>
                <input type="text" class="form-control" asp-for="Categ.Name" />
                <span asp-validation-for="Categ.Name" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label" asp-for="Categ.DisplayOrder">@Html.DisplayNameFor(m=>m.Categ.DisplayOrder)</label>
                <input type="number" class="form-control" asp-for="Categ.DisplayOrder" />
                <span asp-validation-for="Categ.DisplayOrder" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-info"><i class="fa-solid fa-floppy-disk"></i> Update </button>
                <a asp-page="Index" class="btn btn-secondary"><i class="fa-solid fa-house"></i> Back to list</a>
            </div>
        </form>
    </div>
</div>

@section Scripts{
    @{
    <partial name="_ValidationScriptsPartial" />
    }
}

