@page
@model RestaurantUI.Pages.Admin.FoodTypes.DeleteModel
@{
    ViewBag.groupePage = "Adminitration";
    ViewBag.title = "Delete Food Type";
}

<div class="card border-danger">
    <div class="card-header">
        Delete Food Type
    </div>
    <div class="card-body">
        <form asp-action="Post">
            <input type="hidden" asp-for="foodType.FoodTypeId" />
            <div class="mb-3">
                <label class="form-label" asp-for="foodType.FoodTypeName">@Html.DisplayNameFor(m=>m.foodType.FoodTypeName)</label>
                <input type="text" class="form-control" asp-for="foodType.FoodTypeName" disabled />
            </div>
          
            <div class="mb-3">
                <button type="submit" class="btn btn-info">  <i class="fa-solid fa-trash-can" style="color:red;"></i> Delete </button>
                <a asp-page="Index" class="btn btn-secondary"><i class="fa-solid fa-house"></i> Back to list</a>
            </div>
        </form>
    </div>
</div>

@section Scripts{
    @{
    <partial name="_ValidationScriptsPartial" />
    }
}

