@page
@model RestaurantUI.Pages.Admin.FoodTypes.EditModel
@{
    ViewBag.groupePage = "Adminitration";
    ViewBag.title = "Edit Food Type";
}

<div class="card border-danger">
    <div class="card-header">
        Edit Food Type
    </div>
    <div class="card-body">
        <form asp-action="Post">
            <input type="hidden" asp-for="foodType.FoodTypeId" />
            <div asp-validation-summary="All" class="mt-2 mb-2 text-danger"></div>
            <div class="mb-3">
                <label class="form-label" asp-for="foodType.FoodTypeName">@Html.DisplayNameFor(m=>m.foodType.FoodTypeName)</label>
                <input type="text" class="form-control" asp-for="foodType.FoodTypeName" />
                <span asp-validation-for="foodType.FoodTypeName" class="text-danger"></span>
            </div>
          
            <div class="mb-3">
                <button type="submit" class="btn btn-info"><i class="fa-solid fa-floppy-disk"></i> Update </button>
                <a asp-page="Index" class="btn btn-secondary"><i class="fa-solid fa-house"></i> Back to list</a>
            </div>
        </form>
    </div>
</div>

@section Scripts{
    @{
    <partial name="_ValidationScriptsPartial" />
    }
}

