@page
@using Restaurant.Models
@model RestaurantUI.Pages.Admin.FoodTypes.IndexModel
@{
    ViewBag.groupePage = "Adminitration";
    ViewBag.title = "List Food Types";
}

<div class="p-1">
    <div class="row">
        <div class="col-6">
            <a class="btn btn-outline-info mt-1 mb-2 p-1" asp-page="Create"><i class="fa-solid fa-circle-plus"></i> New Food Type</a>
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(model=>model.foodTypes.ElementAt(0).FoodTypeName)</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (FoodType ftype in Model.foodTypes)
                    {
                        <tr>
                            <td>@ftype.FoodTypeName</td>
                            <td>
                                <div class="w-100 btn-group">
                                    <a asp-page="Edit" asp-route-id="@ftype.FoodTypeId" class="btn btn-outline-info mx-1 p-1">
                                        <i class="fa-solid fa-pen-to-square" style="color:blueviolet;"></i>
                                    </a>
                                    <a asp-page="Delete" asp-route-id="@ftype.FoodTypeId" class="btn btn-outline-info mx-1 p-1">
                                        <i class="fa-solid fa-trash-can" style="color:red;"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
