@if (TempData["msg"] != null)
{
    string? action = TempData["action"] != null ? TempData["action"].ToString() : "";
    <div class="@(@action=="delete" ? "w-50 alert alert-danger alert-dismissible fade show" : "w-50 alert alert-success alert-dismissible fade show")" role="alert">
        <strong>@TempData["msg"]</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}