@page
@using Restaurant.Models
@model RestaurantUI.Pages.Admin.MenuItems.IndexModel
@{
    ViewBag.groupePage = "Adminitration";
    ViewBag.title = "List MenuItems";
}

<div class="p-1">
    <div class="row">
        <div class="col-12">
            <a class="btn btn-outline-info mt-1 mb-2 p-1" asp-page="AddOrEdit"><i class="fa-solid fa-circle-plus"></i> Create </a>
            <table id="DtMenuItems" class="w-100 table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(model=>model.MenuItems.ElementAt(0).Name)</th>
                        <th>@Html.DisplayNameFor(model=>model.MenuItems.ElementAt(0).Price)</th>
                        <th>@Html.DisplayNameFor(model=>model.MenuItems.ElementAt(0).CategoryId)</th>
                        <th>@Html.DisplayNameFor(model=>model.MenuItems.ElementAt(0).FoodTypeId)</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
@section Scripts{
    <script type="text/javascript">
        var dataTable;
        $(document).ready(function () {
            dataTable = $('#DtMenuItems').DataTable({
                "ajax": {
                    "url": "?handler=List",
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "name" },
                    { "data": "price" },
                    { "data": "category.name" },
                    { "data": "foodType.foodTypeName" },
                    {
                        "data": 'id', "render": function (data) { // data is the id
                            //`` (Altr+7) Backtick
                            return `
                                  <div class="w-100 btn-group">
                                   <a href="/Admin/MenuItems/AddOrEdit?id=${data}"   class="btn btn-outline-info mx-1 p-1">
                                   <i class="fa-solid fa-pen-to-square" style="color:blueviolet;"></i>
                                   </a>
                                   <a  onClick=DeleteConfirm(${data}) class="btn btn-outline-info mx-1 p-1">
                                   <i class="fa-solid fa-trash-can" style="color:red;"></i>
                                  </a>
                                  </div>
                                  `
                        }
                    }
                ]
            });
        });

        function DeleteConfirm(id){
            let UrlHandler = "/Admin/MenuItems/AddOrEdit?Handler=Delete&id=" + id;
            Swal.fire({
                title: 'confirmation de suppresion de MenuItem !!!',
                showCancelButton: true,
                confirmButtonText: 'Confirm',
            }).then((result) => {
                /* Read more about isConfirmed, isDenied below */
                if (result.isConfirmed) {
                    $.ajax({
                        url: UrlHandler,
                        type: 'GET',
                        success: function (data) {
                            if (data.success) {
                                dataTable.ajax.reload();
                                Swal.fire({ icon: 'success', title: 'Confirmation delete', text: data.message });
                            } else {
                                Swal.fire({ icon: 'error', title: 'Oops...', text: data.message });
                            }
                        }// end function
                    })// end ajax
                }
            })
        }

    </script>
}